<!DOCTYPE HTML>
<html>
<head>
    <title>AngularJS Intro</title>
        <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="js/myApp.js"></script> 

</head>
<body ng-app="myApp">
  <div class="container theme-showcase" role="main" ng-controller="MyCtrl">
      <div class="jumbotron">
        <h1>Demo of Basic AngularJS</h1>
        <p><b>AngularJS</b> is a Javascript Library primarily developed by Google to provide a framework for developing the client-side of applications based on a MVC (Model View Controller) architecture</p>
      </div>
      <h1> most basic - </h1>
      <p>Input something in the input box:</p>
   <div class="form-group">
      <div class="col-xs-4">
      <label for="comment">Comment:</label>
        <input type="text" ng-model="name" class="form-control" id="name" placeholder="Name">
      </div>
    </div>
    
 <div class="page-header">
<h2>Hello [[ name ]] </h2>
</div>

<div class="page-header">
<h1>Call a function</h1>
</div>

    <p>
    <div class="col-xs-4">
        <input type="text" ng-model="some_text" class="form-control" placeholder="Message">
    </div>
        <button type="button" class="btn btn-danger" ng-click="processText()">Send</button>


<div class="alert alert-warning" role="alert" ng-bind="warning">
       
      </div>

<div class="page-header">
<h1>Chat to self app</h1>
</div>
<div>
<div class="row">
   <div>
    <div class="col-xs-4">
        <input type="text" ng-model="msg" class="form-control" placeholder="Message">
    </div>
        <button type="button" class="btn btn-primary" ng-click="processMessage()">Send</button>
</div>

<div class="col-md-6">
<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Chat box</h3>
            </div>
            <div  class="panel-body" style="height: 400px;overflow-y: scroll;" id="responsePane">
            <div ng-repeat="res in responses">
            <span ng-bind="res"></span>
            </div>
            </div>
            </div>
           
</div>
</div>
</div>


<div class="page-header">
<h1>Fix Duplicates</h1>
</div>
<div>
<div class="row">
   <div>
    <div class="col-xs-4">
        <input type="text" ng-model="msg2" class="form-control" placeholder="Message">
    </div>
        <button type="button" class="btn btn-primary" ng-click="processMessage2()">Send</button>
</div>

<div class="col-md-6">
<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Chat box</h3>
            </div>
            <div  class="panel-body" style="height: 400px;overflow-y: scroll;" id="responsePane">
            <div ng-repeat="res in responses2">
            <span ng-bind="res.data"></span>
            </div>
            </div>
            </div>
           
</div>
</div>
</div>


<h1> Show and Hide HTML Elements</h1>

<div class="well" ng-show="visible">Margaret H. Hamilton led the team that created the on-board flight software for NASA's Apollo command modules and lunar modules. A mathematician and computer scientist who started her own software company, Hamilton contributed to concepts of asynchronous software, priority scheduling and priority displays, and human-in-the-loop decision capability, which set the foundation for modern, ultra-reliable software design and engineering.</div>
 <button type="button" class="btn btn-primary" ng-click="showHide()">[[ buttonText ]]</button>

   </div>
</body>
</html>
